<!doctype html>

<body ng-app="myApp">

<div ng-controller="ExerciseController">

	<div class = "savedWrapper">
		<div class="row">	
	  		<!-- <div class="col-md-1"></div> -->
	  		<div class="col-md-4"> 
	  			<div class = "savedVideosTitle"> &nbsp; categories: exercise </div> 
	  		</div>
	  	</div>
  	</div>


	<div class = "savedWrapper">
		<div class="row">	
	  		<!-- <div class="col-md-1"></div> -->
	  		<div class="col-md-4"> 
	  			<div class = "savedVideosTitle"> &nbsp; now </div> 
	  		</div>
	  	</div>
  	</div>

  	<div class = "largerContainer">
  		<div class="row" style = "height: 100%">	
	  		<!-- <div class="col-md-1"></div> -->
	  		<div class="col-md-6 show-image" style = "height: 100%">
	  			<img src= "./photo6.jpg" class="savedVideo">
	  			<div class="caption_3"> &nbsp; soccer and other sports </div>
                   <a href="#playvideo" class="vidbutton"><input class="gotocat" type="image" src="./go_to.png" height="80px" width="80px"></input></a>
                    <a href="#/exercise" class="vidbutton button"><input class="addcat" type="image" src="./add.png" height="80px" width="80px"/></a>
	  		</div>
	  	</div>
  	</div>

  	<div class = "savedWrapper">
	  	<div class="row">	
	  		<!-- <div class= "col-md-1"></div> -->
	  		<div class="col-md-4 show-image"> 
	  			<div class = "savedVideosTitle"> &nbsp; upcoming </div> 
	  		</div>
	  	</div>
	</div>

	<div class = "smallerContainer">
  		<div class="row" style = "height: 100%">	
	  		<!-- <div class="col-md-1"></div> -->
	  		<div class="col-md-3 show-image" style = "height: 100%">
	  			<img src= "./photo11.jpg" class="savedVideo">
	  			<div class="caption_4"> &nbsp; running: what's different </div>
          <div class="caption_5 col-md-5"> &nbsp; in 3h 15m </div>
		  		<a href="#playvideo" class="vidbutton"><input class="gotosmallcat" type="image" src="./go_to.png" height="40px" width="40px"></input></a>
	            <a href="#/exercise" class="vidbutton button"><input class="addsmallcat" type="image" src="./add.png" height="40px" width="40px"/></a>
	  		</div>
	  		<div class="col-md-3 show-image" style = "height: 100%">
				<img src= "./photo7.jpg" class="savedVideo">
				<div class="caption_4"> &nbsp; scuba diving </div>
        <div class="caption_5 col-md-5"> &nbsp; in 12h </div>
		  		<a href="#playvideo" class="vidbutton"><input class="gotosmallcat" type="image" src="./go_to.png" height="40px" width="40px"></input></a>
	           <a href="#/exercise" class="vidbutton button"><input class="addsmallcat" type="image" src="./add.png" height="40px" width="40px"/></a>
	  		</div>
	  		<div class="col-md-3 show-image" style = "height: 100%">
	  			<img src= "./photo9.jpg" class="savedVideo">
	  			<div class="caption_4"> &nbsp; marathon training </div>
          <div class="caption_5 col-md-5"> &nbsp; in 1d </div>
		  		<a href="#playvideo" class="vidbutton"><input class="gotosmallcat" type="image" src="./go_to.png" height="40px" width="40px"></input></a>
	           <a href="#/exercise" class="vidbutton button"><input class="addsmallcat" type="image" src="./add.png" height="40px" width="40px"/></a>
	  		</div>
	  		<div class="col-md-3 show-image" style = "height: 100%">
	  			<img src= "./health4.jpg" class="savedVideo">
	  			<div class="caption_4"> &nbsp; sports available to you now </div>
          <div class="caption_5 col-md-5"> &nbsp; in 2d 1h </div>
		  		<a href="#playvideo" class="vidbutton"><input class="gotosmallcat" type="image" src="./go_to.png" height="40px" width="40px"></input></a>
	            <a href="#/health" class="vidbutton button"><input class="addsmallcat" type="image" src="./add.png" height="40px" width="40px"/></a>
	  		</div>
	  	</div>
  	</div>

    <div id="subscribe" class = "initiallyHidden">
      <div class = "title"> 
        &nbsp; running: what's different
        <img src="./exit.png" class="button closeWindows">
      </div> 
      <div class = "button2"> &nbsp; subscribe to this chat? </div>
    </div> 

    <div id = "addQuestions" class = "initiallyHidden"> 
      <div class = "confirmation"> &nbsp; subscribed! </div>
      <form class = "full">
        <input type="text" value="" class = "searchBox" placeholder = "enter a question for this chat" required>
      </form>
      <div class = "submit"> &nbsp; submit </div> 
      <div class = "submit button2"> 
        &nbsp; unsubscribe
      </div> 
      <div class = "submit"> 
        <a href="#/savedvideos" style="text-decoration:none;"> &nbsp; to subscribed </a>
      </div> 
    </div>


<!--     <div class = "row">
      <div class = "secondBar">
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <div id = "darkerColor2"> featured talks </div>
        </div>
      </div>
    </div>
 -->

  	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  	<script src="js/jquery.js"></script>
  	<!-- Include all compiled plugins (below), or include individual files as needed -->
  	<script src="js/bootstrap.js"></script>
  	<!-- stuff for infinite carousel -->
	<script src='js/infiniteCarousel.js'></script>
    <script>
        $('.infinite-carousel').infiniteCarousel({
            itemsPerMove : 1,
            duration : 500
        });
    </script>
    <script>
        $('.infinite-carousel-2').infiniteCarousel({
            itemsPerMove : 1,
            duration : 500
        });
    </script>

    <script>
      $(function() {
          $( ".button" ).click(function() {
              $( "#subscribe" ).toggle();
          });
      });
    </script>

    <script>
      $(function() {
          $( ".button2" ).click(function() {
              $( "#addQuestions" ).toggle();
          });
      });
    </script>

    <script>
      $(function() {
          $( ".closeWindows" ).click(function() {
              $( "#addQuestions" ).hide();
              $( "#subscribe" ).hide();
          });
      });
    </script>
</body>
