<!doctype html>

<body ng-app="myApp">

<div ng-controller="ExerciseController">

	<div class = "savedWrapper">
		<div class="row">	
	  		<!-- <div class="col-md-1"></div> -->
	  		<div class="col-md-4"> 
	  			<div class = "savedVideosTitle"> &nbsp; excercise </div> 
	  		</div>
	  	</div>
  	</div>


	<div class = "savedWrapper">
		<div class="row">	
	  		<!-- <div class="col-md-1"></div> -->
	  		<div class="col-md-4"> 
	  			<div class = "savedVideosTitle"> &nbsp; now </div> 
	  		</div>
	  	</div>
  	</div>

  	<div class = "largerContainer">
  		<div class="row" style = "height: 100%">	
	  		<!-- <div class="col-md-1"></div> -->
	  		<div class="col-md-6" style = "height: 100%">
	  			<img src= "./photo6.jpg" class="savedVideo">
	  			<div class="caption_3"> &nbsp; soccer and other sports </div>
	  		</div>
	  		<div class="col-md-6" style = "height: 100%">
				<img src= "./photo10.jpg" class="savedVideo">
				<div class="caption_3"> &nbsp; pushing yourself athletically </div>
	  		</div>
	  	</div>
  	</div>

  	<div class = "savedWrapper">
	  	<div class="row">	
	  		<!-- <div class= "col-md-1"></div> -->
	  		<div class="col-md-4"> 
	  			<div class = "savedVideosTitle"> &nbsp; upcoming </div> 
	  		</div>
	  	</div>
	</div>

	<div class = "smallerContainer">
  		<div class="row" style = "height: 100%">	
	  		<!-- <div class="col-md-1"></div> -->
	  		<div class="col-md-3" style = "height: 100%">
	  			<img src= "./photo11.jpg" class="savedVideo">
	  			<div class="caption_4"> &nbsp; running: what's different </div>
	  		</div>
	  		<div class="col-md-3" style = "height: 100%">
				<img src= "./photo7.jpg" class="savedVideo">
				<div class="caption_4"> &nbsp; scuba diving </div>
	  		</div>
	  		<div class="col-md-3" style = "height: 100%">
	  			<img src= "./photo9.jpg" class="savedVideo">
	  			<div class="caption_4"> &nbsp; marathon training </div>
	  		</div>
	  	</div>
  	</div>

</div>
</body>
