<!doctype html>

<body ng-app="myApp">

<div ng-controller="ExerciseController">

	<div class = "savedWrapper">
		<div class="row">	
	  		<!-- <div class="col-md-1"></div> -->
	  		<div class="col-md-4"> 
	  			<div class = "savedVideosTitle"> &nbsp; categories: exercise </div> 
	  		</div>
	  	</div>
  	</div>


	<div class = "savedWrapper">
		<div class="row">	
	  		<!-- <div class="col-md-1"></div> -->
	  		<div class="col-md-4"> 
	  			<div class = "savedVideosTitle"> &nbsp; now </div> 
	  		</div>
	  	</div>
  	</div>

  	<div class = "largerContainer">
  		<div class="row" style = "height: 100%">	
	  		<!-- <div class="col-md-1"></div> -->
	  		<div class="col-md-6 show-image" style = "height: 100%">
	  			<img src= "./photo6.jpg" class="savedVideo">
	  			<div class="caption_3"> &nbsp; soccer and other sports </div>
                   <a href="#playvideo" class="vidbutton"><input class="gotocat" type="image" src="./go_to.png" height="80px" width="80px"></input></a>
                    <a href="#savedvideos" class="vidbutton"><input class="addcat" type="image" src="./add.png" height="80px" width="80px"/></a>
	  		</div>
	  		<div class="col-md-6 show-image" style = "height: 100%">
				<img src= "./photo10.jpg" class="savedVideo">
				<div class="caption_3"> &nbsp; pushing yourself athletically </div>
                   <a href="#playvideo" class="vidbutton"><input class="gotocat" type="image" src="./go_to.png" height="80px" width="80px"></input></a>
                    <a href="#savedvideos" class="vidbutton"><input class="addcat" type="image" src="./add.png" height="80px" width="80px"/></a>
	  		</div>
	  	</div>
  	</div>

  	<div class = "savedWrapper">
	  	<div class="row">	
	  		<!-- <div class= "col-md-1"></div> -->
	  		<div class="col-md-4 show-image"> 
	  			<div class = "savedVideosTitle"> &nbsp; upcoming </div> 
	  		</div>
	  	</div>
	</div>

	<div class = "smallerContainer">
  		<div class="row" style = "height: 100%">	
	  		<!-- <div class="col-md-1"></div> -->
	  		<div class="col-md-3 show-image" style = "height: 100%">
	  			<img src= "./photo11.jpg" class="savedVideo">
	  			<div class="caption_4"> &nbsp; running: what's different </div>
		  		<a href="#playvideo" class="vidbutton"><input class="gotosmallcat" type="image" src="./go_to.png" height="40px" width="40px"></input></a>
	            <a href="#savedvideos" class="vidbutton"><input class="addsmallcat" type="image" src="./add.png" height="40px" width="40px"/></a>
	  		</div>
	  		<div class="col-md-3 show-image" style = "height: 100%">
				<img src= "./photo7.jpg" class="savedVideo">
				<div class="caption_4"> &nbsp; scuba diving </div>
		  		<a href="#playvideo" class="vidbutton"><input class="gotosmallcat" type="image" src="./go_to.png" height="40px" width="40px"></input></a>
	            <a href="#savedvideos" class="vidbutton"><input class="addsmallcat" type="image" src="./add.png" height="40px" width="40px"/></a>
	  		</div>
	  		<div class="col-md-3 show-image" style = "height: 100%">
	  			<img src= "./photo9.jpg" class="savedVideo">
	  			<div class="caption_4"> &nbsp; marathon training </div>
		  		<a href="#playvideo" class="vidbutton"><input class="gotosmallcat" type="image" src="./go_to.png" height="40px" width="40px"></input></a>
	            <a href="#savedvideos" class="vidbutton"><input class="addsmallcat" type="image" src="./add.png" height="40px" width="40px"/></a>
	  		</div>
	  	</div>
  	</div>

</div>
</body>
