<!doctype html>

<body ng-app="myApp">

<div ng-controller="SavedVideosController">

	<div class = "savedWrapper">
		<div class="row">	
	  		<div class="col-md-1"></div>
	  		<div class="col-md-4"> 
	  			<div class = "savedVideosTitle"> talks happening now </div> 
	  		</div>
	  	</div>
  	</div>

  	<div class = "largerContainer">
  		<div class="row" style = "height: 100%">	
	  		<div class="col-md-1"></div>
	  		<div class="col-md-5" style = "height: 100%">
	  			<img src= "./photo2.jpg" class="savedVideo">
	  			<div class="caption_3"> special considerations at sporting events </div>
	  		</div>
	  		<div class="col-md-5" style = "height: 100%">
				<img src= "./photo3.jpg" class="savedVideo">
				<div class="caption_3"> how to party safely with a pacemaker </div>
	  		</div>
	  	</div>
  	</div>

  	<div class = "savedWrapper">
	  	<div class="row">	
	  		<div class= "col-md-1"></div>
	  		<div class="col-md-4"> 
	  			<div class = "savedVideosTitle"> upcoming talks </div> 
	  		</div>
	  	</div>
	</div>


	<div class = "smallerContainer">
  		<div class="row" style = "height: 100%">	
	  		<div class="col-md-1"></div>
	  		<div class="col-md-3" style = "height: 100%">
	  			<img src= "./photo4.jpg" class="savedVideo">
	  			<div class="caption_4"> baking with a pacemaker </div>
	  			<div class="caption_5"> in 3h 15m </div>
	  		</div>
	  		<div class="col-md-3" style = "height: 100%">
				<img src= "./photo6.jpg" class="savedVideo">
				<div class="caption_4"> soccer and other sports </div>
				<div class="caption_5"> in 2d </div>
	  		</div>
	  	</div>
  	</div>

  	<div class = "savedWrapper">
	  	<div class="row">	
	  		<div class="col-md-1"></div>
	  		<div class="col-md-4"> 
	  			<div class = "savedVideosTitle"> re-watch past talks </div> 
	  		</div>
	  	</div>
  	</div>

	<div class = "smallerContainer">
  		<div class="row" style = "height: 100%">	
	  		<div class="col-md-1"></div>
	  		<div class="col-md-3" style = "height: 100%">
	  			<img src= "./photo10.jpg" class="savedVideo">
	  			<div class="caption_4"> pushing yourself athletically </div>
	  		</div>
	  		<div class="col-md-3" style = "height: 100%">
				<img src= "./photo11.jpg" class="savedVideo">
				<div class="caption_4"> running: what's different </div>
	  		</div>
	  		<div class="col-md-3" style = "height: 100%">
				<img src= "./photo12.jpg" class="savedVideo">
				<div class="caption_4"> staying techy with a pacemaker </div>
	  		</div>
	  	</div>
  	</div>

  	<div class="row" style = "height: 10px"></div>

  	<div class = "smallerContainer">
  		<div class="row" style = "height: 100%">	
	  		<div class="col-md-1"></div>
	  		<div class="col-md-3" style = "height: 100%">
	  			<img src= "./photo13.jpg" class="savedVideo">
	  			<div class="caption_4"> my life, struggles, and hopes </div>
	  		</div>
	  		<div class="col-md-3" style = "height: 100%">
				<img src= "./photo14.jpg" class="savedVideo">
				<div class="caption_4"> dealing with airport security </div>
	  		</div>
	  	</div>
  	</div>

  	<div class="row" style = "height: 10px"></div>

</div>
</body>
