/*

Since CSS uses a global name space for classes we should use class names starting with
main- here.
*/

.tolowercase {
    text-transform: lowercase;
    font-size: 1.1em;
    text-align: left;
}

.body {
	/*background-color: #DFFFED;*/
    /*background-color: #E7F0EF;*/
  background-color: #B2CBBD;
}

.searchBox::-webkit-input-placeholder {
    text-transform: lowercase;
    font-size: 1em;
    font-family: 'Josefin Sans', sans-serif;
    color: #4E5953;
}

.md-button.md-icon-button {
    margin: 0 0.6rem;
    height: 15rem;
    min-width: 0;
    line-height: 4.8rem;
    padding-left: 0;
    padding-right: 0;
    width: 10rem;
}
