<!doctype html>

<body ng-app="myApp">

<div ng-controller="SchoolController">

	<div class = "savedWrapper">
		<div class="row">
	  		<!-- <div class="col-md-1"></div> -->
	  		<div class="col-md-4">
	  			<div class = "savedVideosTitle"> &nbsp; categories: school </div>
	  		</div>
	  	</div>
  	</div>


	<div class = "savedWrapper">
		<div class="row">
	  		<!-- <div class="col-md-1"></div> -->
	  		<div class="col-md-4">
	  			<div class = "savedVideosTitle"> &nbsp; now </div>
	  		</div>
	  	</div>
  	</div>

  	<div class = "largerContainer">
  		<div class="row" style = "height: 100%">
	  		<!-- <div class="col-md-1"></div> -->
	  		<div class="col-md-6" style = "height: 100%">
	  			<img src= "./school1.jpg" class="savedVideo">
	  			<div class="caption_3"> &nbsp; succeeding in college with my pacemaker </div>
	  		</div>
	  		<div class="col-md-6" style = "height: 100%">
				<img src= "./school2.jpg" class="savedVideo">
				<div class="caption_3"> &nbsp; words from a valedictorian</div>
	  		</div>
	  	</div>
  	</div>

  	<div class = "savedWrapper">
	  	<div class="row">
	  		<!-- <div class= "col-md-1"></div> -->
	  		<div class="col-md-4">
	  			<div class = "savedVideosTitle"> &nbsp; upcoming </div>
	  		</div>
	  	</div>
	</div>

	<div class = "smallerContainer">
  		<div class="row" style = "height: 100%">
	  		<!-- <div class="col-md-1"></div> -->
	  		<div class="col-md-3" style = "height: 100%">
	  			<img src= "./school3.jpg" class="savedVideo">
	  			<div class="caption_4"> &nbsp; the challenges I faced in school </div>
	  		</div>
	  		<div class="col-md-3" style = "height: 100%">
				<img src= "./school4.jpg" class="savedVideo">
				<div class="caption_4"> &nbsp; staying social</div>
	  		</div>
	  		<div class="col-md-3" style = "height: 100%">
	  			<img src= "./school5.jpg" class="savedVideo">
	  			<div class="caption_4"> &nbsp; having a pacemaker in college </div>
	  		</div>
	  	</div>
  	</div>

</div>
</body>
