<!doctype html>

<body ng-app="myApp">

<div ng-controller="SchoolController">

	<div class = "savedWrapper">
		<div class="row">
	  		<!-- <div class="col-md-1"></div> -->
	  		<div class="col-md-4">
	  			<div class = "savedVideosTitle"> &nbsp; categories: school </div>
	  		</div>
	  	</div>
  	</div>


	<div class = "savedWrapper">
		<div class="row">
	  		<!-- <div class="col-md-1"></div> -->
	  		<div class="col-md-4">
	  			<div class = "savedVideosTitle"> &nbsp; now </div>
	  		</div>
	  	</div>
  	</div>

  	<div class = "largerContainer">
  		<div class="row" style = "height: 100%">
	  		<!-- <div class="col-md-1"></div> -->
	  		<div class="col-md-6 show-image" style = "height: 100%">
	  			<img src= "./school1.jpg" class="savedVideo">
	  			<div class="caption_3"> &nbsp; succeeding in college with my pacemaker </div>
                   <a href="#playvideo" class="vidbutton"><input class="gotocat" type="image" src="./go_to.png" height="80px" width="80px"></input></a>
                    <a href="#/school" class="vidbutton button"><input class="addcat" type="image" src="./add.png" height="80px" width="80px"/></a>
	  		</div>
	  		<div class="col-md-6 show-image" style = "height: 100%">
				<img src= "./school2.jpg" class="savedVideo">
				<div class="caption_3"> &nbsp; words from a valedictorian</div>
                   <a href="#playvideo" class="vidbutton"><input class="gotocat" type="image" src="./go_to.png" height="80px" width="80px"></input></a>
                    <a href="#/school" class="vidbutton button"><input class="addcat" type="image" src="./add.png" height="80px" width="80px"/></a>
	  		</div>
	  	</div>
  	</div>

  	<div class = "savedWrapper">
	  	<div class="row">
	  		<!-- <div class= "col-md-1"></div> -->
	  		<div class="col-md-4">
	  			<div class = "savedVideosTitle"> &nbsp; upcoming </div>
	  		</div>
	  	</div>
	</div>

	<div class = "smallerContainer">
  		<div class="row" style = "height: 100%">
	  		<!-- <div class="col-md-1"></div> -->
	  		<div class="col-md-3 show-image" style = "height: 100%">
	  			<img src= "./school3.jpg" class="savedVideo">
	  			<div class="caption_4"> &nbsp; the challenges I faced in school </div>
		  		<a href="#playvideo" class="vidbutton"><input class="gotosmallcat" type="image" src="./go_to.png" height="40px" width="40px"></input></a>
	            <a href="#/school" class="vidbutton button"><input class="addsmallcat" type="image" src="./add.png" height="40px" width="40px"/></a>
	  		</div>
	  		<div class="col-md-3 show-image" style = "height: 100%">
				<img src= "./school4.jpg" class="savedVideo">
				<div class="caption_4"> &nbsp; staying social</div>
		  		<a href="#playvideo" class="vidbutton"><input class="gotosmallcat" type="image" src="./go_to.png" height="40px" width="40px"></input></a>
	            <a href="#/school" class="vidbutton button"><input class="addsmallcat" type="image" src="./add.png" height="40px" width="40px"/></a>
	  		</div>
	  		<div class="col-md-3 show-image" style = "height: 100%">
	  			<img src= "./school5.jpg" class="savedVideo">
	  			<div class="caption_4"> &nbsp; having a pacemaker in college </div>
		  		<a href="#playvideo" class="vidbutton"><input class="gotosmallcat" type="image" src="./go_to.png" height="40px" width="40px"></input></a>
	            <a href="#/school" class="vidbutton button"><input class="addsmallcat" type="image" src="./add.png" height="40px" width="40px"/></a>
	  		</div>
	  	</div>
  	</div>

</div>

    <div id="addQuestions" class = "initiallyHidden">
      <div class = "title"> 
        &nbsp; add questions to this chat 
        <img src="./exit.png" class="button exit">
      </div> 

      <form class = "full">
        <input type="text" value="" class = "searchBox" placeholder = "enter a question" required>
      </form>

      <div class = "submit"> &nbsp; submit this question </div> 

    </div> 

    <script>
      $(function() {
          $( ".button" ).click(function() {
              $( "#addQuestions" ).toggle();
          });
      });
    </script>

</body>
