<!doctype html>

<body ng-app="myApp">

<div ng-controller="goingOutController">

	<div class = "savedWrapper">
		<div class="row">
	  		<!-- <div class="col-md-1"></div> -->
	  		<div class="col-md-4">
	  			<div class = "savedVideosTitle"> &nbsp; categories: going out </div>
	  		</div>
	  	</div>
  	</div>


	<div class = "savedWrapper">
		<div class="row">
	  		<!-- <div class="col-md-1"></div> -->
	  		<div class="col-md-4">
	  			<div class = "savedVideosTitle"> &nbsp; now </div>
	  		</div>
	  	</div>
  	</div>

  	<div class = "largerContainer">
  		<div class="row" style = "height: 100%">
	  		<!-- <div class="col-md-1"></div> -->
	  		<div class="col-md-6" style = "height: 100%">
	  			<img src= "./going1.jpg" class="savedVideo">
	  			<div class="caption_3"> &nbsp; enjoying yourself on a night out </div>
	  		</div>
	  		<div class="col-md-6" style = "height: 100%">
				<img src= "./going2.jpg" class="savedVideo">
				<div class="caption_3"> &nbsp; staying safe with your pacemaker</div>
	  		</div>
	  	</div>
  	</div>

  	<div class = "savedWrapper">
	  	<div class="row">
	  		<!-- <div class= "col-md-1"></div> -->
	  		<div class="col-md-4">
	  			<div class = "savedVideosTitle"> &nbsp; upcoming </div>
	  		</div>
	  	</div>
	</div>

	<div class = "smallerContainer">
  		<div class="row" style = "height: 100%">
	  		<!-- <div class="col-md-1"></div> -->
	  		<div class="col-md-3" style = "height: 100%">
	  			<img src= "./going3.jpg" class="savedVideo">
	  			<div class="caption_4"> &nbsp; alcohol: why it's different now </div>
	  		</div>
	  		<div class="col-md-3" style = "height: 100%">
				<img src= "./going4.jpg" class="savedVideo">
				<div class="caption_4"> &nbsp; know your limits</div>
	  		</div>
	  		<div class="col-md-3" style = "height: 100%">
	  			<img src= "./going5.jpg" class="savedVideo">
	  			<div class="caption_4"> &nbsp; why you can still enjoy yourself </div>
	  		</div>
	  	</div>
  	</div>

</div>
</body>
