<!doctype html>

<body ng-app="myApp">

<div ng-controller="HealthController">

	<div class = "savedWrapper">
		<div class="row">
	  		<!-- <div class="col-md-1"></div> -->
	  		<div class="col-md-4">
	  			<div class = "savedVideosTitle"> &nbsp; categories: health </div>
	  		</div>
	  	</div>
  	</div>


	<div class = "savedWrapper">
		<div class="row">
	  		<!-- <div class="col-md-1"></div> -->
	  		<div class="col-md-4">
	  			<div class = "savedVideosTitle"> &nbsp; now </div>
	  		</div>
	  	</div>
  	</div>

  	<div class = "largerContainer">
  		<div class="row" style = "height: 100%">
	  		<!-- <div class="col-md-1"></div> -->
	  		<div class="col-md-6 show-image" style = "height: 100%">
	  			<img src= "./health0.jpg" class="savedVideo">
	  			<div class="caption_3"> &nbsp; how to stay healthy with your pacemaker </div>
                   <a href="#playvideo" class="vidbutton"><input class="gotocat" type="image" src="./go_to.png" height="80px" width="80px"></input></a>
                    <a href="#savedvideos" class="vidbutton"><input class="addcat" type="image" src="./add.png" height="80px" width="80px"/></a>
	  		</div>
	  		<div class="col-md-6 show-image" style = "height: 100%">
				<img src= "./health1.jpg" class="savedVideo">
				<div class="caption_3"> &nbsp; loving to live</div>
                   <a href="#playvideo" class="vidbutton"><input class="gotocat" type="image" src="./go_to.png" height="80px" width="80px"></input></a>
                    <a href="#savedvideos" class="vidbutton"><input class="addcat" type="image" src="./add.png" height="80px" width="80px"/></a>
	  		</div>
	  	</div>
  	</div>

  	<div class = "savedWrapper">
	  	<div class="row">
	  		<!-- <div class= "col-md-1"></div> -->
	  		<div class="col-md-4">
	  			<div class = "savedVideosTitle"> &nbsp; upcoming </div>
	  		</div>
	  	</div>
	</div>

	<div class = "smallerContainer">
  		<div class="row" style = "height: 100%">
	  		<!-- <div class="col-md-1"></div> -->
	  		<div class="col-md-3 show-image" style = "height: 100%">
	  			<img src= "./health2.png" class="savedVideo">
	  			<div class="caption_4"> &nbsp; what to eat, what not to eat </div>
		  		<a href="#playvideo" class="vidbutton"><input class="gotosmallcat" type="image" src="./go_to.png" height="40px" width="40px"></input></a>
	            <a href="#savedvideos" class="vidbutton"><input class="addsmallcat" type="image" src="./add.png" height="40px" width="40px"/></a>
	  		</div>
	  		<div class="col-md-3 show-image" style = "height: 100%">
				<img src= "./health3.jpg" class="savedVideo">
				<div class="caption_4"> &nbsp; when something goes wrong </div>
		  		<a href="#playvideo" class="vidbutton"><input class="gotosmallcat" type="image" src="./go_to.png" height="40px" width="40px"></input></a>
	            <a href="#savedvideos" class="vidbutton"><input class="addsmallcat" type="image" src="./add.png" height="40px" width="40px"/></a>
	  		</div>
	  		<div class="col-md-3 show-image" style = "height: 100%">
	  			<img src= "./health4.jpg" class="savedVideo">
	  			<div class="caption_4"> &nbsp; the pacemaker diet </div>
		  		<a href="#playvideo" class="vidbutton"><input class="gotosmallcat" type="image" src="./go_to.png" height="40px" width="40px"></input></a>
	            <a href="#savedvideos" class="vidbutton"><input class="addsmallcat" type="image" src="./add.png" height="40px" width="40px"/></a>
	  		</div>
	  	</div>
  	</div>

</div>
</body>
