.questions {
	background-color: #497F61;
	width: 100%;
	line-height: 50px;
	height: 413px;
}

.questionHeader {
	/*background-color: #497F61;*/
	border-top: solid 1px;
	border-color: #497F61;
	background-color: #2C4C3A;
	font-family: 'Josefin Sans', sans-serif;
	color: white;
	font-size: 18px;
}

.questionElem {
	background-color: #497F61;
/*	border-top: solid 1px;*/
	border-color: #2C4C3A;
	font-family: 'Josefin Sans', sans-serif;
	color: white;
	font-size: 16px;
}

.playbutton {
	height: 28px;
	width: 28px;
}

.playbuttonUA {
	height: 28px;
	width: 28px;
	opacity: 0.2;
}