<!doctype html>
    <!-- LARGE CAROUSEL OF PICS -->
	 <!-- <a id="button" href="#">Show/Hide</a> -->

  <div class='infinite-carousel'> 
        <div class="viewport">
            <div class='list'>
                <div class='item show-image'>
                    <img src="./photo1.jpg" class="crop">
                    <div class="caption_2"> &nbsp; navigating the workplace </div>
                   <a href="#playvideo" class="vidbutton"><input class="goto" type="image" src="./go_to.png" height="80px" width="80px"></input></a>
                    <a href="#" class="vidbutton button"><input class="add" type="image" src="./add.png" height="80px" width="80px"/></a>
                </div>
                    <md-button class="update">Update</md-button>
                <div class='item show-image'>
                    <img src="./photo2.jpg" class="crop">
                    <div class="caption_2"> &nbsp; special considerations at sporting events </div>
                    <a href="#playvideo" class="vidbutton"><input class="goto" type="image" src="./go_to.png" height="80px" width="80px"></input></a>
                    <a href="#" class="vidbutton button"><input class="add" type="image" src="./add.png" height="80px" width="80px"/></a>
                </div>
                <div class='item show-image'>
                    <img src="./photo0.jpg" class="crop">
                    <div class="caption_2"> &nbsp; what to expect on day 1 </div>
                   <a href="#playvideo" class="vidbutton"><input class="goto" type="image" src="./go_to.png" height="80px" width="80px"></input></a>
                    <a href="#" class="vidbutton button"><input class="add" type="image" src="./add.png" height="80px" width="80px"/></a>
                </div>
                <div class='item show-image'>
                    <img src="./photo3.jpg" class="crop">
                    <div class="caption_2"> &nbsp; how to party safely with a pacemaker </div>
                   <a href="#playvideo" class="vidbutton"><input class="goto" type="image" src="./go_to.png" height="80px" width="80px"></input></a>
                    <a href="#" class="vidbutton button"><input class="add" type="image" src="./add.png" height="80px" width="80px"/></a>
                </div>
            </div>
        </div>
       	<img src="./back_arrow.png" class='pre'>
    	<img src="./forward_arrow.png" class='next'>
    	<div class = "featuredTitle"> talks happening now </div>
    </div>

    <!-- WORDS BELOW THE LARGE CAROUSEL -->
    <div class = "secondBarWrapper">
      <div class="row">	
  	    	<div class="col-md-2"></div>
  			<div class="col-md-4">
            <div class = "secondBar"> featured talks </div>
  			</div>
    	</div>
    </div>

  	<!-- FEATURED TALKS -->
  	<div class="row">
  		<div class="col-md-3 show-image">
  			<img src="./photo4.jpg" class="featuredVideo">
        <div class="caption"> &nbsp; baking with a pacemaker </div>
           <a href="#playvideo" class="vidbutton"><input class="gotosmall" type="image" src="./go_to.png" height="40px" width="40px"></input></a>
            <a href="#" class="vidbutton button"><input class="addsmall" type="image" src="./add.png" height="40px" width="40px"/></a>
  		</div>
  		<div class="col-md-3 show-image">
  			<img src="./photo5.jpg" class="featuredVideo">
         <div class="caption"> &nbsp; dancing through life </div>
           <a href="#playvideo" class="vidbutton"><input class="gotosmall" type="image" src="./go_to.png" height="40px" width="40px"></input></a>
            <a href="#" class="vidbutton button"><input class="addsmall" type="image" src="./add.png" height="40px" width="40px"/></a>
  		</div>
  		<div class="col-md-3 show-image">
  			<img src="./photo6.jpg" class="featuredVideo">
           <a href="#playvideo" class="vidbutton"><input class="gotosmall" type="image" src="./go_to.png" height="40px" width="40px"></input></a>
            <a href="#" class="vidbutton button"><input class="addsmall" type="image" src="./add.png" height="40px" width="40px"/></a>
        <div class="caption"> &nbsp; soccer and other sports </div>
  		</div>
  		<div class="col-md-3 show-image">
  			<img src="./photo7.jpg" class="featuredVideo">
        <div class="caption"> &nbsp; scuba diving </div>
           <a href="#playvideo" class="vidbutton"><input class="gotosmall" type="image" src="./go_to.png" height="40px" width="40px"></input></a>
            <a href="#" class="vidbutton button"><input class="addsmall" type="image" src="./add.png" height="40px" width="40px"/></a>
  		</div>
<!--   		<div class="col-md-2">
  			<img src="./photo8.jpg" class="featuredVideo">
        <div class="caption"> &nbsp; international travel </div>
  		</div>
  		<div class="col-md-2">
  			<img src="./photo9.jpg" class="featuredVideo">
        <div class="caption"> &nbsp; marathon training </div>
  		</div> -->
  	</div>

    <div id="subscribe" class = "initiallyHidden">
      <div class = "title"> 
        &nbsp; chat details
        <img src="./exit.png" class="button closeWindows">
      </div> 
      <div class = "button2"> &nbsp; save this chat? </div>
    </div> 

    <div id = "addQuestions" class = "initiallyHidden"> 
      <div class = "confirmation"> &nbsp; saved! </div>
      <form class = "full">
        <input type="text" value="" class = "searchBox" placeholder = "enter a question for this chat" required>
      </form>
      <div class = "submit"> &nbsp; submit </div> 
      <div class = "submit button2"> 
        &nbsp; unsubscribe
      </div> 
      <div class = "submit"> 
        <a href="#/savedvideos" style="text-decoration:none;"> &nbsp; saved videos </a>
      </div> 
    </div>


<!--     <div class = "row">
      <div class = "secondBar">
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <div id = "darkerColor2"> featured talks </div>
        </div>
      </div>
    </div>
 -->

  	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  	<script src="js/jquery.js"></script>
  	<!-- Include all compiled plugins (below), or include individual files as needed -->
  	<script src="js/bootstrap.js"></script>
  	<!-- stuff for infinite carousel -->
	<script src='js/infiniteCarousel.js'></script>
    <script>
        $('.infinite-carousel').infiniteCarousel({
            itemsPerMove : 1,
            duration : 500
        });
    </script>
    <script>
        $('.infinite-carousel-2').infiniteCarousel({
            itemsPerMove : 1,
            duration : 500
        });
    </script>

    <script>
      $(function() {
          $( ".button" ).click(function() {
              $( "#subscribe" ).toggle();
          });
      });
    </script>

    <script>
      $(function() {
          $( ".button2" ).click(function() {
              $( "#addQuestions" ).toggle();
          });
      });
    </script>

    <script>
      $(function() {
          $( ".closeWindows" ).click(function() {
              $( "#addQuestions" ).hide();
              $( "#subscribe" ).hide();
          });
      });
    </script>
};