<!doctype html>

<body ng-app="myApp">

<div ng-controller="TravelController">

	<div class = "savedWrapper">
		<div class="row">
	  		<!-- <div class="col-md-1"></div> -->
	  		<div class="col-md-4">
	  			<div class = "savedVideosTitle"> &nbsp; categories: travel </div>
	  		</div>
	  	</div>
  	</div>


	<div class = "savedWrapper">
		<div class="row">
	  		<!-- <div class="col-md-1"></div> -->
	  		<div class="col-md-4">
	  			<div class = "savedVideosTitle"> &nbsp; now </div>
	  		</div>
	  	</div>
  	</div>

  	<div class = "largerContainer">
  		<div class="row" style = "height: 100%">
	  		<!-- <div class="col-md-1"></div> -->
	  		<div class="col-md-6 show-image" style = "height: 100%">
	  			<img src= "./travel1.jpg" class="savedVideo">
	  			<div class="caption_3"> &nbsp; pacemaker 101 for thrillseekers</div>
                   <a href="#playvideo" class="vidbutton"><input class="gotocat" type="image" src="./go_to.png" height="80px" width="80px"></input></a>
                    <a href="#/travel" class="vidbutton button"><input class="addcat" type="image" src="./add.png" height="80px" width="80px"/></a>
	  		</div>
	  		<div class="col-md-6 show-image" style = "height: 100%">
				<img src= "./travel2.jpg" class="savedVideo">
				<div class="caption_3"> &nbsp; what to keep in mind when abroad</div>
                   <a href="#playvideo" class="vidbutton"><input class="gotocat" type="image" src="./go_to.png" height="80px" width="80px"></input></a>
                    <a href="#/travel" class="vidbutton button"><input class="addcat" type="image" src="./add.png" height="80px" width="80px"/></a>
	  		</div>
	  	</div>
  	</div>

  	<div class = "savedWrapper">
	  	<div class="row">
	  		<!-- <div class= "col-md-1"></div> -->
	  		<div class="col-md-4">
	  			<div class = "savedVideosTitle"> &nbsp; upcoming </div>
	  		</div>
	  	</div>
	</div>

	<div class = "smallerContainer">
  		<div class="row" style = "height: 100%">
	  		<!-- <div class="col-md-1"></div> -->
	  		<div class="col-md-3 show-image" style = "height: 100%">
	  			<img src= "./travel3.jpg" class="savedVideo">
	  			<div class="caption_4"> &nbsp; travelling: taking care of your health</div>
		  		<a href="#playvideo" class="vidbutton"><input class="gotosmallcat" type="image" src="./go_to.png" height="40px" width="40px"></input></a>
	            <a href="#/travel" class="vidbutton button"><input class="addsmallcat" type="image" src="./add.png" height="40px" width="40px"/></a>
	  		</div>
	  		<div class="col-md-3 show-image" style = "height: 100%">
				<img src= "./travel4.jpg" class="savedVideo">
				<div class="caption_4"> &nbsp; how to find help when you need it</div>
		  		<a href="#playvideo" class="vidbutton"><input class="gotosmallcat" type="image" src="./go_to.png" height="40px" width="40px"></input></a>
	            <a href="#/travel" class="vidbutton button"><input class="addsmallcat" type="image" src="./add.png" height="40px" width="40px"/></a>
	  		</div>
	  		<div class="col-md-3 show-image" style = "height: 100%">
	  			<img src= "./travel5.jpg" class="savedVideo">
	  			<div class="caption_4"> &nbsp; the pacemaker traveler</div>
		  		<a href="#playvideo" class="vidbutton"><input class="gotosmallcat" type="image" src="./go_to.png" height="40px" width="40px"></input></a>
	            <a href="#/travel" class="vidbutton button"><input class="addsmallcat" type="image" src="./add.png" height="40px" width="40px"/></a>
	  		</div>
	  	</div>
  	</div>

</div>

    <div id="addQuestions" class = "initiallyHidden">
      <div class = "title"> 
        &nbsp; add questions to this chat 
        <img src="./exit.png" class="button exit">
      </div> 

      <form class = "full">
        <input type="text" value="" class = "searchBox" placeholder = "enter a question" required>
      </form>

      <div class = "submit"> &nbsp; submit this question </div> 

    </div> 


<script>
  $(function() {
      $( ".button" ).click(function() {
          $( "#addQuestions" ).toggle();
      });
  });
</script>

</body>
