<!doctype html>

<body ng-app="myApp">

<div ng-controller="CategoriesController">


  <div class = "savedWrapper">
    <div class="row"> 
        <!-- <div class="col-md-1"></div> -->
        <div class="col-md-4"> 
          <div class = "savedVideosTitle"> &nbsp; categories </div> 
        </div>
      </div>
    </div>


  	<!-- CATEGORIES -->


  	<div class="row">	

  		<div class="col-md-4 container">
  			<img src="./photo18.jpg" class="image">
        <div class="overlay">
          <div class="text">health</div>
        </div>
  		</div>

      <div class="col-md-4 container">
        <img src="./photo15.jpg" class="image">
        <div class="overlay">
          <div class="text">school</div>
        </div>
      </div>

      <div class="col-md-4 container">
        <img src="./photo17.jpg" class="image">
        <div class="overlay">
          <div class="text">going out</div>
        </div>
      </div>
    </div>

  </div class = "row">
    <div class="gap"></div> 
  </div>

    <div class="row"> 
      <div class="col-md-4 container">
        <img src="./photo19.jpg" class="image">
        <div class="overlay">
          <div class="text">travel</div>
        </div>
      </div>

      <div class="col-md-4 container">
        <img src="./photo16.jpg" class="image">
        <div class="overlay">
          <div class="text">exercise</div>
        </div>
      </div>

      <div class="col-md-4 container">
        <img src="./photo20.jpg" class="image">
        <div class="overlay">
          <div class="text">lifestyle</div>
        </div>
      </div>
    </div>

		<!-- <div class="col-md-4">
  			<img src="./photo16.jpg" class="featuredVideo">
         <div class="caption" align="left">&nbsp;dancing through life </div>
  		</div>

		<div class="col-md-4">
  			<img src="./photo4.jpg" class="featuredVideo">
         <div class="caption" align="left">&nbsp;dancing through life </div>
  		</div>
  	</div>

  	<div class="row">	

  		<div class="col-md-4">
  			<img src="./photo5.jpg" class="featuredVideo">
         <div class="caption" align="left">&nbsp;dancing through life </div>
  		</div>

		<div class="col-md-4">
  			<img src="./photo6.jpg" class="featuredVideo">
         <div class="caption" align="left">&nbsp;dancing through life </div>
  		</div>

		<div class="col-md-4">
  			<img src="./photo7.jpg" class="featuredVideo">
         <div class="caption" align="left">&nbsp;dancing through life </div>
  		</div>
  	</div>

	<div class="row">	

  		<div class="col-md-4">
  			<img src="./photo8.jpg" class="featuredVideo">
         <div class="caption" align="left">&nbsp;dancing through life </div>
  		</div>

		<div class="col-md-4">
  			<img src="./photo9.jpg" class="featuredVideo">
         <div class="caption" align="left">&nbsp;dancing through life </div>
  		</div>

		<div class="col-md-4">
  			<img src="./photo10.jpg" class="featuredVideo">
         <div class="caption" align="left">&nbsp;dancing through life </div>
  		</div>
  	</div> -->


<!--     <div class = "row">
      <div class = "secondBar">
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <div id = "darkerColor2"> featured talks </div>
        </div>
      </div>
    </div>
 -->

  	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  	<script src="js/jquery.js"></script>
  	<!-- Include all compiled plugins (below), or include individual files as needed -->
  	<script src="js/bootstrap.js"></script>

</div>
</body>
