<!doctype html>

<body ng-app="myApp">

<div ng-controller="PlayVideoController">
<!-- <form ng-if="!main.loggedIn" name="form" ng-submit="vm.login()" role="form">
<h2>Login</h2>
<label>Username <input type="text" ng-model="main.username"/></label><br/>
<label>Password <input type="password" ng-model="main.password"/></label><br/>
<md-button ng-if="!main.register" ng-click="buttonClick(login_button)" class='login_button'>Login</md-button>
<md-button ng-if="!main.register" ng-click="regButtonClick(register_button)">Register</md-button>

<label ng-if="main.register">First Name <input ng-if="main.register" type="text" ng-model="main.firstname"/></label><br/>
<label ng-if="main.register">Last Name <input ng-if="main.register" type="text" ng-model="main.lastname"/></label><br/>
<label ng-if="main.register">Location <input ng-if="main.register" type="text" ng-model="main.location"/></label><br/>
<label ng-if="main.register">Description <input ng-if="main.register" type="text" ng-model="main.description"/></label><br/>
<label ng-if="main.register">Occupation <input ng-if="main.register" type="text" ng-model="main.occupation"/></label><br/>


<br/>
<md-button ng-if="main.register" ng-click="registerUser(register_button)">Submit Registration</md-button>

</form>
{{errormsg}} -->


<!--   <iframe src="http://www.youtube.com/watch?v=NeGLiwwy63I"
   width="560" height="315" frameborder="0" allowfullscreen></iframe>
 -->

   <div class = "savedWrapper">
    <div class="row"> 
        <!-- <div class="col-md-1"></div> -->
        <div class="col-md-12"> 
          <div class = "savedVideosTitle"> &nbsp; watching: what to expect on day 1 </div> 
        </div>
      </div>
    </div>

 	<div class="row"> 
 		<div class="col-md-7">
 		<div class="embed-responsive embed-responsive-16by9">
 		<script src="http://www.youtube.com/player_api"></script>
  			<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NeGLiwwy63I?autoplay=1&start=285&enablejsapi=1"></iframe>

		</div>
		</div>

		<div class="col-md-5" layout="column">
			<md-content flex class="questions">
				<md-subheader class="questionHeader">
				Question List
				</md-subheader>
				<md-subheader class="questionElem" ng-repeat="questionObj in main.questionList">
					<a href="#playvideonext"><img src= "./play.png" class="playbutton"></a>&nbsp;{{questionObj.question}}
				</md-subheader>

				<md-subheader class="questionElem" ng-repeat="newQuestionObj in main.uaQuestionList">
					<img src= "./play.png" class="playbuttonUA">&nbsp;{{newQuestionObj.question}}
				</md-subheader>

				<md-subheader class="questionElem">
					<md-input-container>
						<label>ask a question</label>
						<input type="text" ng-model="user.name">
					</md-input-container>
				</md-subheader>
			</md-content>
		</div>
 		<!-- <div> -->
<!--      		<iframe src="http://www.youtube.com/embed/W7qWa52k-nE"
   			width="1000" height="315" frameborder="0" allowfullscreen></iframe> -->
   		</div>
   	</div>

  	<div class = "savedWrapper">
	  	<div class="row">	
	  		<!-- <div class="col-md-1"></div> -->
	  		<div class="col-md-4"> 
	  			<div class = "savedVideosTitle"> &nbsp; similar </div> 
	  		</div>
	  	</div>
  	</div>

	<div class = "smallerContainer">
  		<div class="row" style = "height: 100%">	
	  		<!-- <div class="col-md-1"></div> -->
	  		<div class="col-md-3 show-image" style = "height: 100%">
	  			<img src= "./photo10.jpg" class="savedVideo">
	  			<div class="caption_4"> &nbsp; pushing yourself athletically </div>
		  		<a href="#playvideo" class="vidbutton"><input class="gotosmallcat" type="image" src="./go_to.png" height="40px" width="40px"></input></a>
	            <a href="#savedvideos" class="vidbutton"><input class="addsmallcat" type="image" src="./add.png" height="40px" width="40px"/></a>
	  		</div>
	  		<div class="col-md-3 show-image" style = "height: 100%">
				<img src= "./photo11.jpg" class="savedVideo">
				<div class="caption_4"> &nbsp; running: what's different </div>
		  		<a href="#playvideo" class="vidbutton"><input class="gotosmallcat" type="image" src="./go_to.png" height="40px" width="40px"></input></a>
	            <a href="#savedvideos" class="vidbutton"><input class="addsmallcat" type="image" src="./add.png" height="40px" width="40px"/></a>
	  		</div>
	  		<div class="col-md-3 show-image" style = "height: 100%">
				<img src= "./photo12.jpg" class="savedVideo">
				<div class="caption_4"> &nbsp; staying techy with a pacemaker </div>
		  		<a href="#playvideo" class="vidbutton"><input class="gotosmallcat" type="image" src="./go_to.png" height="40px" width="40px"></input></a>
	            <a href="#savedvideos" class="vidbutton"><input class="addsmallcat" type="image" src="./add.png" height="40px" width="40px"/></a>
	  		</div>
	  		<div class="col-md-3 show-image" style = "height: 100%">
	  			<img src= "./photo13.jpg" class="savedVideo">
	  			<div class="caption_4"> &nbsp; my life, struggles, and hopes </div>
		  		<a href="#playvideo" class="vidbutton"><input class="gotosmallcat" type="image" src="./go_to.png" height="40px" width="40px"></input></a>
	            <a href="#savedvideos" class="vidbutton"><input class="addsmallcat" type="image" src="./add.png" height="40px" width="40px"/></a>
	  		</div>
	  	</div>
  	</div>


</div>
</body>
